

<div class="flex flex-col justify-center items-center gap-5 mx-56 h-full pt-52">
  <h1 class="text-5xl poppins-black text-center">DigitalShelf - The country's first digital library</h1>
  <p class="text-xl poppins-semibold opacity-70 text-center">Your virtual library for easy access to books, articles, and resources anytime, anywhere. Explore and manage your reading materials with ease.</p>
  <button class="bg-amber-500 text-white poppins-semibold rounded-lg px-3 py-2">Book a reading session</button>
</div>
